#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define MQTT_SERVER ""
#define MQTT_PORT 1883
#define MQTT_CLIENT_ID "liquid_dispensing_esp32"
#define MQTT_USERNAME ""
#define MQTT_PASSWORD ""

#define DISPENSING_STATUS_TOPIC "dispensing/status"
#define DISPENSING_DATA_TOPIC "dispensing/data"

#define STEPPER_X_STEP 33
#define STEPPER_X_DIR 32
#define STEPPER_X_ENABLE 27
#define STEPPER_X_LIMIT_SWITCH 2
#define STEPPER_X_LED 14

#define STEPPER_Z_STEP 22
#define STEPPER_Z_DIR 23
#define STEPPER_Z_ENABLE 21
#define STEPPER_Z_LIMIT_SWITCH 18
#define STEPPER_Z_LED 12

#define STEPPER_ZP_STEP 17
#define STEPPER_ZP_DIR 16
#define STEPPER_ZP_ENABLE 19
#define STEPPER_ZP_LIMIT_SWITCH 4
#define STEPPER_ZP_LED 13

#define MS1_PIN 25
#define MS2_PIN 26

#define SOLENOID_PIN 5