// WiFi SSID
#define WIFI_SSID ""
// WiFi Password
#define WIFI_PASSWORD ""

// MQTT Server
#define MQTT_SERVER ""
// MQTT Port
#define MQTT_PORT 1883
// MQTT Client ID
#define MQTT_CLIENT_ID "liquid_dispensing_esp32"
// MQTT Username
#define MQTT_USERNAME ""
// MQTT Password
#define MQTT_PASSWORD ""

// MQTT Dispensing Status Topic
#define DISPENSING_STATUS_TOPIC "dispensing/status"
// MQTT Dispensing Data Topic
#define DISPENSING_DATA_TOPIC "dispensing/data"

// Stepper X Step Pin
#define STEPPER_X_STEP 33
// Stepper X Direction Pin
#define STEPPER_X_DIR 32
// Stepper X Enable Pin
#define STEPPER_X_ENABLE 27
// Stepper X Limit Switch Pin
#define STEPPER_X_LIMIT_SWITCH 2
// Stepper X LED Pin
#define STEPPER_X_LED 14

// Stepper Z Step Pin
#define STEPPER_Z_STEP 22
// Stepper Z Direction Pin
#define STEPPER_Z_DIR 23
// Stepper Z Enable Pin
#define STEPPER_Z_ENABLE 21
// Stepper Z Limit Switch Pin
#define STEPPER_Z_LIMIT_SWITCH 18
// Stepper Z LED Pin
#define STEPPER_Z_LED 12

// Stepper Z' Step Pin
#define STEPPER_ZP_STEP 17
// Stepper Z' Direction Pin
#define STEPPER_ZP_DIR 16
// Stepper Z' Enable Pin
#define STEPPER_ZP_ENABLE 19
// Stepper Z' Limit Switch Pin
#define STEPPER_ZP_LIMIT_SWITCH 4
// Stepper Z' LED Pin
#define STEPPER_ZP_LED 13

// Microstep 1 Pin
#define MS1_PIN 25
// Microstep 2 Pin
#define MS2_PIN 26

// Solenoid Pin
#define SOLENOID_PIN 5

// Dispensing Mode
// 0 - Dummy, 1 - Dispensing, 2 - Calibration
#define DISPENSING 2