#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define MQTT_SERVER ""
#define MQTT_PORT 1883
#define MQTT_CLIENT_ID "liquid_dispensing_esp32"
#define MQTT_USERNAME ""
#define MQTT_PASSWORD ""

#define DISPENSING_STATUS_TOPIC "dispensing/status"
#define DISPENSING_DATA_TOPIC "dispensing/data"

#define STEPPER_X_STEP 
#define STEPPER_X_DIR 
#define STEPPER_X_ENABLE 
#define STEPPER_X_LIMIT_SWITCH 

#define STEPPER_Z_STEP 
#define STEPPER_Z_DIR 
#define STEPPER_Z_ENABLE 
#define STEPPER_Z_LIMIT_SWITCH 

#define STEPPER_ZP_STEP 
#define STEPPER_ZP_DIR 
#define STEPPER_ZP_ENABLE 
#define STEPPER_ZP_LIMIT_SWITCH 

#define MS1_PIN 
#define MS2_PIN 